@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports Management</h1>
    <p class="lead">The application is focused on people who are interested to conducting sports events and also who have interest in sports. Our application allows the people to organise sports and challenge people.</p>
 
</div>

